/* CSS for ribbon design*/
.ribbon{
  font-size: 26px;
  font-family: 'Varela Round' , sans-serif;
  width:50%;
  position:relative;
  background: #8C52FF;
  color: #fff;
  text-align:center;
  padding: 1em 1em;
  margin: 2em auto 3em;
  border-radius: 4px;
  animation: main 400ms;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}

.ribbon:before , .ribbon:after{
  content: "";
  position: absolute;
  display:block;
  bottom: -1em;
  border: 1.5em solid #5625b8;
  z-index: -1;
  animation: back 600ms;
}

.ribbon::before{
  left:-2em;
  border-right-width:1.5em;
  border-left-color: transparent;
}

.ribbon:after{
  right:-2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before ,
.ribbon-content:after{
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #1f0457 transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:before{
  left:0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after{
  right: 0;
  border-width: 1em 1em 0 0;
}


@keyframes main{
  0% {transform: scaleX(0);}
  100% {transform: scaleY(1);}
}

@keyframes back {
  0% , 75%{transform:scaleX(0);}
  100% {transform: scaleX(1);}
}


/*steps*/
.steps{
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family:'Varela Round' , sans-serif;
  line-height: 28px;
  width:50%;
  position: relative;
  margin: 2em auto 3em;
  box-shadow:  5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  border-radius: 4px;
  padding:2em;
}

.link{
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}
